<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scraper</title>
  </head>
  <body>
    <h1>Scraper</h1>
    <form method="get">
      <p>URL (for example, https://google.com):</p>
      <input type="text" name="url" id="url" />
      <button type="submit" id="btn">Scrape</button>
    </form>
    <h1>Result</h1>
    <textarea id="result" cols="30" rows="20"></textarea>

    <script>
      let url = document.querySelector("#url");
      let btn = document.querySelector("#btn");
      let result = document.querySelector("#result");

      const onBtnClick = (event) => {
        event.preventDefault();
        console.log(url.value);
        fetch("https://gitarist.me/api/v2/songs/scrape/?url=" + url.value)
          .then((response) => {
            console.log(response);
            if (response.ok === true) {
              return response.json();
            }
            throw new Error("Can not load result");
          })
          .then((data) => {
            console.log(data);

            result.innerHTML = data[0].text;
          })
          .catch((error) => {
            result.innerHTML = error.message;
          });
      };

      btn.addEventListener("click", onBtnClick);
    </script>
  </body>
</html>
